:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #FFFFFF;
}
body {
font-family: Roboto,Verdana,Geneva,Tahoma,sans-serif;
font-style: normal;
color: var(--primary-text-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Header */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  inherits: logo;
  color: var(--title-text-color);
}
.site-nav a, .contacts-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link-current, .contacts-nav .mail {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--title-text-color);
}
.contacts-nav .phone, .contacts-nav .mail-porfolio {
  color: var(--primary-text-color);
}
.site-nav .link-current:hover, .site-nav .link-current:focus, 
.contacts-nav .mail:hover, .contacts-nav .mail:focus, 
.contacts-nav .phone:hover, .contacts-nav .phone:focus, 
.contacts-nav .mail-porfolio:hover, 
.contacts-nav .mail-porfolio:focus {
  color: #000000;
}
/* Section-1 (Hero) */
.hero {
  background-color: #2F303A;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Наши проекты */
.filter .filter-button {
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
background-color: #F5F4FA;
cursor: pointer;
border-radius: 4px;
border: none;
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.projects .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects .project-info {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Section-2 */
/* Сильные стороны Студии */
.hidden-title {
  color: var(--primary-bg-color);
}
.benefits .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.benefits .section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Section-3 */
/* Чем мы занимаемся, Наша команда (h2) */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* Section-3 */
/* Наша команда */
.section-crew {
  background-color: #F5F4FA;
}
.crew .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.crew .section-text {
  font-size: 16px;
  line-height: 1.19;
   text-align: center;
  letter-spacing: 0.03em;
}
/* Footer */
.footer {
  background-color: #2F303A;
}
.logo-white {
  inherits: logo;
  color: var(--primary-bg-color);
}
.address a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address .location {
  color: var(--primary-bg-color);
}
.address .mail, .address .phone {
  color: rgba(255, 255, 255, 0.6);
}
.address .location:hover,.address .location:focus,
.address .mail:hover,.address .phone:focus,
.address .phone:hover,.address .phone:focus {
  color: var(--accent-color);
}